@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$cor-fundo: #D9D9D9;
$cor-texto: #FFFFFF;
$cor-nav: #0D4504;
$cor-nav-item: #2F6306;
$cor-fundo-header: #414041;
$cor-fundo-footer: #111111;

$fonte-padrao: 'Inter', sans-serif;


